button{
  width: 50%;
  padding: 24px;
  font-weight:700 ;

  background: rgb(72, 175, 72);
  color: #000000;

  border-radius: 5px;
  margin: 12px 0 84px;
  border: none;
  
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 26px;
}